.floppy-ribbon {
  width: 100%;
  height: 30vh;
  background-color: #3F51B5;
  flex-shrink: 0;
}

.floppy-grid {
  justify-content: center;
  align-items: center;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.li {
  font-size: 4px;
}

.center-items {
  text-align: center;
}

.big-box {
    outline: 2px dashed #3F51B5;
}

.floppy-main {
  margin-top: -35vh;
  flex-shrink: 0;
  background-color: #3F51B5;

}

.floppy-header .mdl-layout__header-row {
  padding-left: 30px;
}

.floppy-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.floppy-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;

}

.floppy-layout.is-small-screen .floppy-content {
  padding: 40px 28px;
}

.floppy-content h3 {
  margin-top: 48px;
}

.floppy-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-left: 40px;
}

.floppy-footer .mdl-mini-footer--left-section a {
  font-size: 13px;
}